Repository jackdomleo7/Checka11y.css, pull requests merged in 2020-09, with the labels that each got.

#5 Add check for lang attribute in <html>
  README.md
  checka11y.css
  test/index.html
Labels: a11y feature

#6 Adds config standards
  .gitignore
  .prettierrc
  package.json
Labels: project enhancement

#14 Check that the only children of <dl> are <dt> and <dd>
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#12 Check for links that open in a new tab or window.
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#15 PR and issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  checka11y.css
  test/index.html
Labels: priority, project enhancement

#24 Checks navigation <nav> tags are correctly labelled if more than one exists.
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: bug

#25 Add check for empty lang attribute on <html> tag
  README.md
  checka11y.css
Labels: a11y feature

#19 Check for invalid HTML elements nested inside an <a>
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#28 Direct keyword added
  README.md
Labels: documentation

#29 logo/icon images added to assets
  package.json
  test/assets/checka11y-logo-frame.png
  test/assets/checka11y-logo-no-frame.png
  test/assets/checka11y-logo-transparent-bg.png
  test/assets/checkally1.png
  test/assets/checkally2.png
Labels: project enhancement
