Repository jackdomleo7/Checka11y.css, pull requests merged in 2020-10, with the labels that each got.

#36 Changed file path in CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: documentation

#38 Check the dir attribute has the correct values
  README.md
  checka11y.css
  test/index.html
Labels: a11y feature

#39 Rules for forbidding interactive content inside a <button> tag
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#40 Warn when media is set to autoplay
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#41 Headings should have meaningful content
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#42 Check for a tab index of -1 on commonly tabbed to elements(#8) : a11y feature
  README.md
  checka11y.css
  package.json
  test/index.html
Labels: a11y feature

#45 Fix breaking issue in package.json
  package.json
Labels: bug

#44 Checka11y.css: fixed "a input" rule description, added brackets in "a button" rule
  checka11y.css
Labels: bug

#47 Add links to features section in README.md & features.md
  CONTRIBUTING.md
  README.md
  features.md
  package.json
Labels: project enhancement

#53 Check for !important inline styles
  README.md
  checka11y.css
  features.md
  test/index.html
Labels: a11y feature

#54 Warning for when accesskey attribute is used
  checka11y.css
  features.md
  package.json
  test/index.html
Labels: a11y feature

#31 Improve errors with SCSS
  .browserslistrc
  .stylelintrc
  CONTRIBUTING.md
  README.md
  checka11y.css
  features.md
  logo/checka11y-logo-frame.png
  logo/checka11y-logo-no-frame.png
  logo/checka11y-logo-transparent-bg.png
  logo/checkally1.png
  logo/checkally2.png
  package-lock.json
  package.json
  postcss.config.js
  src/_base.scss
  src/_customisation.scss
  src/checka11y.scss
  src/features/_accesskey.scss
  src/features/_autoplay.scss
  src/features/_buttons.scss
  src/features/_dir.scss
  src/features/_headings.scss
  src/features/_html.scss
  src/features/_iframe.scss
  src/features/_images.scss
  src/features/_inline.scss
  src/features/_links.scss
  src/features/_lists.scss
  src/features/_navigation.scss
  src/features/_tabindex.scss
Labels: priority, project enhancement

#26 Improve error displays
  .browserslistrc
  .stylelintrc
  CONTRIBUTING.md
  README.md
  checka11y.css
  features.md
  logo/checka11y-logo-frame.png
  logo/checka11y-logo-no-frame.png
  logo/checka11y-logo-transparent-bg.png
  logo/checkally1.png
  logo/checkally2.png
  package-lock.json
  package.json
  postcss.config.js
  src/_base.scss
  src/_customisation.scss
  src/checka11y.scss
  src/features/_accesskey.scss
  src/features/_autoplay.scss
  src/features/_buttons.scss
  src/features/_dir.scss
  src/features/_headings.scss
  src/features/_html.scss
  src/features/_iframe.scss
  src/features/_images.scss
  src/features/_inline.scss
  src/features/_links.scss
  src/features/_lists.scss
  src/features/_navigation.scss
  src/features/_tabindex.scss
Labels: priority, project enhancement

#61 Check buttons/links have meaningful content
  checka11y.css
  features.md
  package.json
  src/features/_buttons.scss
  src/features/_links.scss
  test/index.html
Labels: a11y feature

#58 Add usage docs
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  checka11y.css
  package-lock.json
  package.json
  src/checka11y.scss
Labels: documentation, project enhancement

#62 Check for & warn on use of underline element
  README.md
  checka11y.css
  features.md
  src/checka11y.scss
  src/features/_underlinedtext.scss
  test/index.html
Labels: a11y feature

#65 Check for meaningful alt on images
  checka11y.css
  features.md
  src/_base.scss
  src/_customisation.scss
  src/_variables.scss
  src/features/_buttons.scss
  src/features/_images.scss
  test/index.html
Labels: a11y feature, project enhancement

#68 Set up Cypress + initial tests
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
  cypress.json
  cypress/integration/a11y_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Labels: project enhancement

#70 Check elements with mouse event handlers
  checka11y.css
  features.md
  src/checka11y.scss
  src/features/_handlers.scss
  test/index.html
Labels: a11y feature

#73 Continuous Integration & Move inline shared commands to commands file
  .github/workflows/cypress.yml
  cypress/integration/a11y_spec.js
  cypress/support/commands.js
Labels: project enhancement
