Repository jackdomleo7/Checka11y.css, pull requests merged in 2021-12, with the labels that each got.

#152 Feature/longdesc feature
  checka11y-errors.css
  checka11y-warnings.css
  checka11y.css
  codes.md
  cypress/integration/images_spec.js
  features.md
  src/checka11y.scss
  src/errors/features/_images.scss
  src/warnings/features/_images.scss
  test/index.html
Labels: bug, a11y feature

#155 Check for no <title> and empty <title>
  checka11y-errors.css
  checka11y-errors.min.css
  checka11y-warnings.min.css
  checka11y.css
  checka11y.min.css
  codes.md
  cypress/integration/head_spec.js
  features.md
  src/errors/features/_head.scss
  src/errors/features/_index.scss
  test/index.html
Labels: a11y feature

#156 Release v2.2.0
  .stylelintrc
  checka11y-errors.css
  checka11y-errors.min.css
  checka11y.css
  checka11y.min.css
  package-lock.json
  package.json
  src/errors/features/_buttons.scss
  src/errors/features/_dir.scss
  src/errors/features/_head.scss
  src/errors/features/_html.scss
  src/errors/features/_iframe.scss
  src/errors/features/_images.scss
  src/errors/features/_links.scss
  src/errors/features/_lists.scss
  src/errors/features/_navigation.scss
  src/errors/features/_tabindex.scss
  src/shared/_customisation.scss
  src/shared/_helpers.scss
  src/shared/messages/_content.scss
  src/shared/messages/_vector.scss
  src/warnings/features/_aria-hidden.scss
  src/warnings/features/_handlers.scss
  src/warnings/features/_headings.scss
  src/warnings/features/_images.scss
  src/warnings/features/_inline.scss
  src/warnings/features/_links.scss
  src/warnings/features/_section.scss
Labels: project enhancement
